@charset "UTF-8";

@import "../../styles/variables";


.table-schema {
  background: url("../../public/images/schema.png") no-repeat 15% 25%;
}

.table {
  display: table;
  width: 100%;

  >div {
    display: table-row;
    width: 100%;
    >div {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.table-width-40 {
  width: 40%;
}
.table-width-60 {
  width: 60%;
}

.table-color {
  box-shadow: none !important;
  background-color: $secondary-graphic-color  !important;
}